body	{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 100px 30px auto 50px;
	height: 100vh;
	margin: 0;
	background-color: blue;
	}

header	{
	background-color: gray;
	grid-column: 1/-1;
	grid-row: 1/2;
	}
nav		{
	background-color: blue;
	grid-column: 1/-1;
	grid-row: 2/3;
	padding: 5px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	list-style-type: none;
	grid-gap: 5px;
	}
main	{
	background-color: lightblue;
	grid-column: 1/-1;
	grid-row: 3/4;
	padding: 5px;
	}
footer	{
	background-color: orange;
	grid-column: 1/-1;
	grid-row: 4/5;
	padding: 5px;
	}
